body{
    background: linear-gradient(-45deg,  #35577D, #141E30);
    //background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    
}

h1{
    color: #FFF;
    width: 100%;
    font-size: 2em;
    padding-top: 100px;

}

h2{
     color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 30px;
    font-weight: 100;
    font-family: "Georgia";
    font-size: 22px;
    width: 100%;
    line-height: 24px;
    width: 70%;
}

h1, h2{
    font-family: "Georgia";
}
p {
    color:aliceblue;
    line-height: 1.3em;
    text-align: left;
    width: 100%;
    font-family: Helvetica;
}


div.image{
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-4/htmlcss1-img_soccer.jpeg");
    background-size:cover;
     background-position: center;
    height: 300px;
}

p.caption{
    display: block;
    font-family: "Playfair Display", serif;
    font-size: 14px;
    position: relative;
    top: 80%;
    width: 60%;
      margin-left: 20px;
  padding: 10px;
}

.writer-img{
    float: left;
    width: 50px;
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
}

.byline {
  font-family: Helvetica;
  color: rgba(255, 255, 255, 0.5);
  float: left;
  font-size: 14px;
  padding-left: 10px;
  text-transform: uppercase;
}

.content {
    padding: 40px;
}