*{
    margin: 0;
    padding: 0;
    text-align: left;
  

}

body{
     background-color: #515659;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;

}

header{
    border-bottom: .3mm solid #515659;
    padding-bottom: .1em;
    padding-top: 1em;
}



h1{
    font-size: 3.5em;
    color: #00483C;
    text-align: left;
    font-family: 'Cormorant Garamond', serif;
    
}

div.page{
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 1100px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
}

div.content{
    overflow: hidden;
    margin-left: 4.5em;
    margin-right: 4.5em
}

section{
    margin-top: 1em;
}

section h3{
   
    font-size: 1.7em;
    font-weight: 500;
    color: #00483C;
}


div.date-school{
    overflow: auto;
   
}
div.school{
       font-family: 'Cormorant Garamond', serif;
        margin-top:.6em;
}


p.intro{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2em;
}
div.school h4{
    font-size: 1.3em;
    float: left;
}
small.date{
    float: right;
    font-size: 1em;
    color: gray;
}

div.school h5{
    font-weight: 100;
    font-size: 1.2em;
    margin-top: 0em;
}

p.languages{
    font-family: "times new roman";
    font-weight: 100;
    font-size: 1.2em;
    margin-top: .3em;
    margin-bottom: .3em;
}

footer{
    background-color: #00483C;
    margin-top: 1em;
    color: white;
    height: 3.5em;
}

table{
    color: white;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
    font-size: 1.1em
}

i{
    font-size: "w3-large";
    
}

a{
    text-decoration: none;
    color: white;
}

a.paragraph{
    color: black;
}